<%- include('partials/header.ejs') %>
    <main id="section">
        <div class="container">
            <h3 class="h3">
                <%= locals.Today %>
            </h3>
            <form action="/submit" method="POST" class="box">
                <% for( let i=0; i < task.length; i++ ) { %>
                    <div class="item">
                        <input readonly type="text" name="<%= task[i] %>" placeholder="<%= task[i] %>"
                            id="task<%= i %>">
                        <input type="checkbox" class="form-check-input me-2" name="strike[]" value="<%= task[i] %>"
                            data-task-index="<%= i %>" onclick="handleStrike(this)">
                    </div>
                    <% } %>
                        <div class="item">
                            <input type="text" name="newtask" placeholder="Enter new item">
                        </div>
                        <div class="btn-box">
                            <button type="submit" name="submit" class="btn btn-info rounded-circle btn-lg"><i
                                    class="fa-solid fa-plus"></i></button>
                        </div>
            </form>
        </div>
    </main>
    <%- include('partials/footer.ejs') %>