<%- include('partials/header.ejs') %>
    <main id="section">
        <div class="container">
            <h3 class="h3">
                Work
            </h3>
            <form action="/submit/work" method="POST" class="box">
                <% for( let i=0; i < worked.length; i++ ) { %>
                    <div class="item">
                        <input readonly type="text" name="<%= worked[i] %>" placeholder="<%= worked[i] %>"
                            id="worked<%= i %>">
                        <input type="checkbox" class="form-check-input me-2" type="checkbox" value="<%= worked[i] %>"
                            data-worked-index="<%= i %>" onclick="handleStrike2(this)">
                    </div>
                    <% } %>
                        <div class="item">
                            <input type="text" name="newwork" placeholder="Enter new item">
                        </div>
                        <div class="btn-box">
                            <button type="submit" name="submit" class="btn btn-info rounded-circle btn-lg"><i
                                    class="fa-solid fa-plus"></i></button>
                        </div>
            </form>
        </div>
    </main>
    <%- include('partials/footer.ejs') %>